<!--  <!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <a href="hotel_view_food_category">VIEW FOOD CATEGORY</a>
  <a href="hotel_manage_menu_and_price">MANAGE MENU AND PRICE</a>
  <a href="hotel_mange_delivery_boys">MANAGE DELIVERY BOYS</a>
  <a href="hotel_view_booking_and_accept">VIEW BOOKING</a>
  <a href="hotel_view_rating_and_review">VIEW RATING AND REVIEW</a>
  <br>
  <a href="hotel_view_payment">VIEW PAYMENT</a>
  <a href="hotel_manage_food_availability_and_stock">MANGE FOOD AVAILABILITY AND STOCK</a>
  <a href="/login">Logout</a>

 -->


<html>
<head>
<title>Food For Train</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />  
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cookery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>
  <!-- start-smoth-scrolling -->
<link href="/static/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
  <!-- animation-effect -->
<link href="/static/css/animate.min.css" rel="stylesheet"> 
<script src="/static/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->

</head>
<body>
 <div class="header" style="background-attachment: fixed;">
  <div class="container">
    <div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
      <h1><a href="hotel_home"><span>F</span><img src="/static/images/oo.png" alt=""><img src="/static/images/oo.png" alt="">d Delievry</a></h1>
    </div>
    <div class="nav-icon">    
      <a href="#" class="navicon"></a>
        <div class="toggle">
          <ul class="toggle-menu">
            <li><a class="active" href="hotel_home">HOME</a></li>
            <li><a href="dboy_view_orders">VIEW ORDERS</a></li>
            <li><a href="dboy_view_pickuporder">view Pickedup details</a></li>
           <!--  <li><a href="hotel_mange_delivery_boys">MANAGE DELIVERY BOYS</a></li>
            <li><a href="hotel_view_booking_and_accept">VIEW BOOKING</a></li>
            <li><a href="hotel_view_rating_and_review">VIEW RATING AND REVIEW</a></li>-->
            {% comment %} <li><a href="hotel_view_payment">VIEW PAYMENT</a></li> {% endcomment %}
            <!-- <li><a href="hotel_manage_food_availability_and_stock">MANGE FOOD AVAILABILITY AND STOCK</a></li> -->
            <li><a href="/login">Logout</a></li>


          </ul>
        </div>
      <script>
      $('.navicon').on('click', function (e) {
        e.preventDefault();
        $(this).toggleClass('navicon--active');
        $('.toggle').toggleClass('toggle--active');
      });
      </script>
    </div>
  <div class="clearfix"></div>
  </div>











