{% include "passenger_header.html" %}

<div class="banner">
    <center>
        <form>
            <h1 style="color: #fff;">BOOKINGS</h1>
            <table class="table" style="width: 1000px;color: #fff;">
                <tr>
                    <th>Passenger Name</th>
                    <th>Food Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for booking in q %}
                <tr>
                    <td>{{ booking.passenger.fname }} {{ booking.passenger.lname }}</td>
                    <td>{{ booking.menu.food_name }}</td>
                    <td>{{ booking.price }}</td>
                    <td>{{ booking.qty }}</td>
                    <td>{{ booking.date_time }}</td>
                    <td>{{ booking.status }}</td>
                    {% if booking.status == "accept" %}
                    <td><a href="/payment/{{booking.id}}/{{ booking.price }}">Make Payment</a></td>
                
                    {% endif %}
                </tr> 
                {% endfor %}
            </table>
        </form>
    </center>
</div>

{% include "footer.html" %}
