{% include 'Passenger_header.html' %}
	<!-- start search-->	
		<div class="banner">
			<p class="animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">Sed ut perspiciatis unde omnis iste natus.</p>
			<label></label>
			<!-- <h1><a href="usermakepayment"  data-aos="fade-up" >Become a member today</a></h1> -->

			<h4 class="animated wow fadeInTop" data-wow-duration="1000ms" data-wow-delay="500ms">Hello Passenger Welcome To Food Delivery</h4>
			<a class="scroll down" href="#content-down"><img src="/static/images/down.png" alt=""></a>
		</div>
</div>
<!--content-->


{% include "footer.html"  %}

